/* || Universal Selector */



/* Assigning single font-family */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* || Element Selector */


/* header is fixed to top of page */
header {
    position: fixed;
    padding: 20px;
    background-color: #2e3775;
    color: white;
}

/* || Class Selector */

.navigation ul {
    list-style-type: none;
}